if SHIELD_RESET_LEFT

config ZMK_KEYBOARD_NAME
    default "Sweep"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_RESET_LEFT || SHIELD_RESET_RIGHT

config ZMK_SPLIT
    default y

endif
