// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        hp: hp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp PG_DN>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ep: ep {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp PG_UP>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        nt: nt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp TILDE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lb: lb {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp LT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rb: rb {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp GT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lp: lp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp LBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rp: rp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RPAR>, <&kp RBRC>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ce: ce {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dq: dq {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sb: sb {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mp: mp {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp PLUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        eb: eb {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_z: z_os_switch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&ht LCTRL Z>, <&tog 4>;
        };

        td_q: q_os_switch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&ht RCTRL Q>, <&tog 4>;
        };
    };

    macros {
        aa: aa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AMPS &kp AMPS>;
        };

        pp: pp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp PIPE>;
        };

        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
        };

        cc: cc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
        system_layer {
            if-layers = <4 5>;
            then-layer = <6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Default Layer";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  &eb             &kp L           &kp W           &kp D           &kp B               &kp J           &kp U           &kp F           &kp O           &kp ENTER
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &kp A           &ht LCTRL R     &ht LGUI S      &ht LALT T      &kp G               &kp H           &ht RALT N      &ht RGUI E      &ht RCTRL I     &kp SEMI
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &td_z           &kp X           &kp C           &kp V           &kp COMMA           &kp DOT         &kp Y           &kp K           &kp M           &td_q
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &ht TAB LSFT    &lt 1 SPACE         &lt 2 BSPC      &ht DEL RSFT
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        left_layer {
            display-name = "Left Layer";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  &trans          &hp             &kp UP          &ep             &lb                 &rb             &aa             &pp             &arrow          &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &kp LEFT        &kp DOWN        &kp RIGHT       &lp                 &rp             &cc             &kp SEMI        &kp QUOT        &kp PIPE
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &none           &none           &none           &trans              &trans          &none           &sb             &mp             &kp UNDER
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &trans          &trans              &trans          &trans
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        right_layer {
            display-name = "Right Layer";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  &trans          &none           &none           &none           &none               &none           &kp N1          &kp N2          &kp N3          &trans
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &none           &none           &none           &none               &kp N0          &kp N4          &kp N5          &kp N6          &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &none           &none           &none           &trans              &trans          &kp N7          &kp N8          &nt             &none
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &trans          &trans              &trans          &trans
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        tri_layer {
            display-name = "Tri Layer";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  &trans          &mkp LCLK       &mmv MOVE_UP    &mkp RCLK       &none               &none           &kp F1          &kp F2          &kp F3          &trans
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT &none               &none           &kp F4          &kp F5          &kp F6          &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &none           &mkp MCLK       &none           &trans              &trans          &kp F7          &kp F8          &kp F9          &none  
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &trans          &trans              &trans          &trans
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  sys_reset       &none           &none           &none           &bt BT_SEL 0        &none           &none           &none           &none           &sys_reset
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  bootloader      &none           &none           &none           &bt BT_SEL 1        &none           &none           &none           &none           &bootloader
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &none           &none           &bt BT_CLR      &bt BT_SEL 2        &trans          &none           &none           &none           &none
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &trans          &trans              &trans          &trans
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };

        os_overlay_layer {
            display-name = "Alternate OS";
            bindings = <
//╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
  &trans          &none           &none           &none           &none               &none           &none           &none           &none           &trans
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &none           &ht LALT R      &ht LGUI S      &ht LCTRL T     &none               &none           &ht RCTRL N     &ht RGUI E      &ht RALT I      &none
//├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
  &td_z           &none           &none           &none           &trans              &trans          &none           &none           &none           &td_q
//╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┤   ├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
                                                  &trans          &trans              &trans          &trans
//                                                ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
            >;
        };
    };
};
